---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$intro-transition  : none;
$global-transition : none;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Mixins

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

// Additional SCSS

.sidebar .toc p, .sidebar .toc li {
    font-size: inherit;
}

.notice, .notice--primary, .notice--info, .notice--warning, .notice--success, .notice--danger {
	margin: 1em 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em;
}

h1 {
    margin-top: 0;
}

script {
	display: none !important;
}

.page__footer-follow {
	float: right;
    margin-top: -7px;

    li {
        padding: 0px;
    }

    a {
        padding-right: 0px;
        font-weight: bold;
    }
}

.page__footer footer {
	padding: 0 1em 1.5em;
}

.nav__title > i {
    padding-right: 5px;
}

.page__content {
    @include word-wrap;
}