---
layout: single
classes: wide
sidebar:
  nav: "conference"
comments: true
---
{% if page.authors %}
  <b>{{ page.authors }}</b>{% if page.affiliation %} - {{ page.affiliation }}{% endif %}
  <hr>
{% endif %}

{% if page.video_id %}{% include video id=page.video_id provider="youtube" %}{% endif %}

{% if page.website %}
<a href="{{ page.website }}" target="_blank">{{ page.website }}</a><br>
{% endif %}

{% if page.pdf %}
<a href="{{ page.pdf }}" class="btn btn--info">Download PDF</a>
{% elsif page.pmlr_id %}
<a href="{{ page.pmlr_id | prepend: site.data.acml.conference.volume_url }}" class="btn btn--info">PMLR Page</a>
{% endif %}

<h2>Abstract</h2>
{{ page.abstract }}

{% if page.bio %}
<h2>Biography</h2>
{% if page.photo %}
<img src="{{ page.photo | prepend:'/assets/images/speakers/' | relative_url }}" alt="image-left" class="align-left" style="max-width: 150px">
{% endif %}
{{ page.bio }}
{% endif %}

{% if page.biographies %}
<h2>Biographies</h2>
{% for bio in page.biographies %}
  <b>{{ bio.name }}</b><br>
  {{ bio.bio }}
  <br>
  <br>
{% endfor %}
{% endif %}